.container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 70px [first-line] auto;;
}

.day {
    min-height: 120px;
    background: #f2f2f2 none repeat scroll 0 0;
}

.day-name{
    background: #262626 none repeat scroll 0 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item{
    border: 1px solid rgba(0, 0, 0, 0.8);
}