#mainContainer{
    margin: auto;
    margin-top: 60px;
    min-height: 700px;
    height: 80%;
    min-width: 1200px;
    width: 80%;
}

#tableHeader{
    min-height: 140px;
    padding-bottom: 20px;
}

.day{
    background: yellow none repeat scroll 0 0;
    border: 2px solid;
    width: 14%;
    height: 140px;
    float: left;
    display: block;
    max-height: 100%;
    max-width: 100%;
}