#mainContainer{
    width: 80%;
    margin: auto;
    background: #fc0;
}

.day{
    background: yellow none repeat scroll 0 0;
    border: 2px solid;
    display: inline-block;
    width: 14%;
    height: 100px;
}