<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script th:src="@{/javascript/dayScript.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload=function(){
            document.getElementById("grid-container").addEventListener("load", displayPrevMonth([[${prevMonthLength}]],[[${nameOfLastDateOfPrevMonth}]]));
            document.getElementById("grid-container").addEventListener("load", displayCurrentMonth([[${currentMonthLength}]]));
        }
    </script>
</head>
<body>
    <span th:text="'Number of days: ' + ${currentMonthLength}"></span>
    <div id="grid-container" class="container">
            <div class="item day-name">Monday</div>
            <div class="item day-name">Tuesday</div>
            <div class="item day-name">Wednesday</div>
            <div class="item day-name">Thursday</div>
            <div class="item day-name">Friday</div>
            <div class="item day-name">Saturday</div>
            <div class="item day-name">Sunday</div>
    </div>
</body>
</html>