<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script th:src="@{/javascript/dayScript.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload=function(){
            document.getElementById("tableBody").addEventListener("load", displayPrevMonth([[${prevMonthLength}]],[[${nameOfLastDateOfPrevMonth}]]));
            document.getElementById("tableBody").addEventListener("load", displayCurrentMonth([[${currentMonthLength}]]));
        }
    </script>
</head>
<body>
    <span th:text="'Number of days: ' + ${currentMonthLength}"></span>
    <div id="container">
        <div id="tableHeader">
            <div class="dayName">Monday</div>
            <div class="dayName">Tuesday</div>
            <div class="dayName">Wednesday</div>
            <div class="dayName">Thursday</div>
            <div class="dayName">Friday</div>
            <div class="dayName">Saturday</div>
            <div class="dayName">Sunday</div>
        </div>
        <div id="tableBody"></div>
    </div>
</body>
</html>